@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Nothing+You+Could+Do');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Raleway');

    .left-align {
        margin-left:48px;
        margin-right:24px;
    }
    .cover {
        box-shadow: 10px 10px 5px #4d4d4d3f;
    }
    .cover-div {
        margin-top:24px;
        margin-right: 0px;
        padding:0px;
    }
    .date1 {
        color:white;
    }
    .date {
        margin-top:8px;
        margin-bottom:4px;
        color:white;
    }
    .right-align {
        margin-left:24px;
        margin-right:48px;
    }
    .main-plug {
        font-family:  'Raleway', sans-serif;
        color:rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 18px;
        margin-top: 8px;
        margin-right:8px;
        margin-left:8px;
    }

.banner-txt {
    text-align: center;
}
    .button-align {
    margin-top:36px;
    margin-bottom:36px;
  }
  .btn-img {
    padding:0px;
    margin:0px;
    background:transparent;
  }
  .reg-begin {
      background:rgb(255, 226, 0);
  }
  .btn-txt {
      margin-top:12px;
      margin-bottom:12px;
      padding:12px;
      text-shadow: 2px 2px rgba(61, 61, 61, 0.178);
  }
  .reg-btn-txt {
    padding-left:48px;
    padding-right:48px;
    font-weight: 300;
}
.train-banner {
    margin-top:10%;
    padding:24px;
}
.title-align {
    margin-top:56px;
    margin-bottom:20px;
    margin-right:16px;
    margin-left: 16px;
  }
  .head {
    text-align: center;
    padding:8px;
    font-weight: 200;
  }
  .head1 {
    text-align: center;
    font-style: italic;
    margin-top:12px;
  }
  .head2 {
    text-align: center;
    font-style: italic;
    margin-top:8px;
    margin-bottom:8px;
    padding:8px;
  }