<div fxLayout="column" fxLayout.gt-sm="row">
  <!-- left column -->
  <div fxFlex fxFlex.gt-sm="55" class="cover-div">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <!-- cover image -->
      <div fxFlex="40">
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex>
            <div fxLayout="column" fxLayoutAlign="center center">
              <img src="/assets/images/title.png" width="80%" class='title-align' />
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="90">
                <div hide show.gt-sm flex>
                  <div fxLayoutAlign="center center" style="margin-bottom:48px">
                    <img src="/assets/images/flier.jpg" width="100%" class="cover" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div fxFlex fxFlex.gt-sm="45" class="cover-div">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <!-- cover image -->
      <div fxFlex="40">
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex>
              <div fxLayout="column">
                  <h1 class="mat-display-1 head">Don’t miss this exciting Bible prophecy adventure!</h1>
                </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <img src="/assets/images/date.png" width="70%" />
            </div>
            <div fxLayout="column">
                <h1 class="mat-display-2 head1"><strong>“Countdown to Armageddon”</strong></h1>
              </div>
              <div fxLayout="column" style='margin-bottom:36px'>
                  <h1 class="mat-display-2 head2">Series continues:</h1>
                    <h1 class="mat-display-2 head2">Thursdays, Fridays, Saturdays, Mondays & Tuesdays</h1>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center center">
                      <img src="/assets/images/address.png" width="70%" />
                  </div>
                 <!-- ************************************************
                  IMPORTANT IMPORTANT IMPORTANT IMPORTANT 
                Be sure to update the location, date and time for the
                SMS notification message in RegistrationController.cs
                **********************************************************-->

                  <div fxLayout="column" fxLayoutAlign="center center" style='margin-top:28px'>
                      <img src="/assets/images/map.jpg" width="70%" />
                  </div>
                  <div fxLayout="column">
                      <div fxLayoutAlign="center center" class="button-align">
                        <button mat-button class="btn-img" routerLink='register'>
                          <img src="/assets/images/button.jpg" width="100%" />
                        </button>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
